<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{configuration.users.title}"></title>
    <div th:include="/common/libraries-fragment"></div>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/common/asideMenu.css">
</head>
<body>
<div th:include="/common/asideMenu-fragment"></div>

<main id="main">
    <div class="container-fuild main-content">
        <fieldset>
            <legend th:text="#{add.sell.legend}"></legend>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 form-group mt-2" th:with="savePath=${seller.role.idRole != 3 ? '/sells/save' : '/sells/save/user'}">
                    <form class="was-validated" th:action="${savePath}" th:object="${sellDTO}" method="POST">
                        <input type="hidden" name="seller" th:value="${seller.idUser}">
                        <input type="hidden" name="newVehicle" th:value="${newVehicle.idNewVehicle}">
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label class="form-label" for="model"> Modelo</label>
                                <input type="text" class="form-control" th:value="|${newVehicle.model.name} ${newVehicle.model.finish} ${newVehicle.model.year}|" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label class="form-label" for="sellerName"> Nombre vendedor</label>
                                <input type="text" class="form-control" th:value="|${seller.name} ${seller.lastName}|" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label class="form-label" for="profit"> Beneficio</label>
                                <input type="number" class="form-control" name="profit" th:value="${newVehicle.calculateProfit()}" readonly>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="buyerName"> Nombre comprador</label>
                                <input type="text" class="form-control" th:field="*{buyerName}" required>
                            </div>
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="buyerDni"> Dni comprador</label>
                                <input type="text" maxlength=9 class="form-control" th:field="*{buyerDni}" required>
                            </div>
                        </div>
                        <div class="pull-right mt-4">
                            <button id="save" type="submit" data-toggle="tooltip" class="btn btn-success btn-block-xs m-r-10 m-b-5" aria-label="Añadir">
                                <span class="fa fa-floppy-o" aria-hidden="true"></span>
                                <span th:text="#{button.save}"></span>
                            </button>
                            <a id="buttonBack" th:href="@{/configuration/users/list}" data-toggle="tooltip" class="btn btn-primary m-b-5">
                                <span class="fa fa-arrow-left"></span>
                                <span th:text="#{button.back}"></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
</main>
</body>
<script src="/js/languageSelector.js" th:src="@{/js/languageSelector.js}"></script>
<script src="/js/asideMenu.js" th:src="@{/js/asideMenu.js}"></script>
</html>