<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{configuration.profile.title}"></title>
    <div th:include="/common/libraries-fragment"></div>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/common/asideMenu.css">
</head>
<body>
<div th:include="/common/asideMenu-fragment"></div>

<main id="main">
    <div class="container-fuild main-content">
        <fieldset>
            <legend th:text="#{profile.name.change}"></legend>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 form-group mt-2">
                    <form class="was-validated" th:action="@{/configuration/users/save}" th:object="${userDTO}" method="POST">
                        <input type="hidden" th:field="*{idUser}">
                        <input type="hidden" th:field="*{username}">
                        <input type="hidden" th:field="*{password}">
                        <input type="hidden" th:field="*{role}">
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="name" th:text="#{user.list.name}"></label>
                                <input type="text" class="form-control" th:field="*{name}" th:placeholder="#{user.list.name.placeholder}" required>
                                <div class="valid-feedback" th:text="#{user.list.name.valid.feedback}"></div>
                                <div class="invalid-feedback"  th:text="#{user.list.name.invalid.feedback}"></div>
                            </div>
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="lastName" th:text="#{user.list.lastName}"></label>
                                <input type="text" class="form-control" th:field="*{lastName}" th:placeholder="#{user.list.lastName.placeholder}" required>
                            </div>
                        </div>
                        <div class="pull-right mt-4">
                            <button id="save" type="submit" data-toggle="tooltip" class="btn btn-success btn-block-xs m-r-10 m-b-5" aria-label="Añadir">
                                <span class="fa fa-floppy-o" aria-hidden="true"></span>
                                <span th:text="#{button.save}"></span>
                            </button>
                            <a id="buttonBack" th:href="@{/configuration/profile/options}" data-toggle="tooltip" class="btn btn-primary m-b-5">
                                <span class="fa fa-arrow-left"></span>
                                <span th:text="#{button.back}"></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
</main>

</body>
<script src="/js/languageSelector.js" th:src="@{/js/languageSelector.js}"></script>
<script src="/js/asideMenu.js" th:src="@{/js/asideMenu.js}"></script>
</html>