<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{new.vehicle.edit}"></title>
    <div th:include="/common/libraries-fragment"></div>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/common/asideMenu.css">
</head>
<body>
<div th:include="/common/asideMenu-fragment"></div>

<main id="main">
    <div class="container-fuild main-content">
        <fieldset>
            <legend th:text="#{new.vehicle.edit}"></legend>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 form-group mt-2">
                    <form class="was-validated" th:action="@{/vehicles/newVehicle/save}" th:object="${newVehicleDTO}" method="POST">
                        <input type="hidden" th:field="*{idNewVehicle}">
                        <input type="hidden" th:field="*{model}">

                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label for="model" class="form-label" th:text="#{new.vehicle.model}"></label>
                                <input type="text" class="form-control" th:value="${newVehicleDTO.model.toString()}" th:placeholder="#{new.vehicle.plate.placeholder}" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label class="form-label" for="chassisNumber" th:text="#{new.vehicle.chassis.number}"></label>
                                <input type="text" class="form-control" th:field="*{chassisNumber}" th:placeholder="#{new.vehicle.chassis.number.placeholder}" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 col-lg-4">
                                <label class="form-label" for="plate" th:text="#{new.vehicle.plate}"></label>
                                <input type="text" class="form-control" th:field="*{plate}" th:placeholder="#{new.vehicle.plate.placeholder}" readonly>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group date col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="cost" th:text="#{new.vehicle.cost}"></label>
                                <input type="number" min=0 step="any" class="form-control" th:field="*{cost}" th:placeholder="#{new.vehicle.cost.placeholder}" readonly>
                            </div>
                            <div class="form-group date col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="sellPrice" th:text="#{new.vehicle.sell.price}"></label>
                                <input type="number" min=0 step="any" class="form-control" th:field="*{sellPrice}" th:placeholder="#{new.vehicle.sell.price.placeholder}" required>
                            </div>
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="status" th:text="#{new.vehicle.status}"></label>
                                <select class="form-select" th:field="*{status}" required>
                                    <option selected value="" th:text="#{select.option.default}"></option>
                                    <option th:each="status : ${statusList}" th:if="${status.idStatus != 3}" th:value="${status.idStatus}" th:text="${status.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-md-3 col-lg-3">
                                <label class="form-label" for="isNew" th:text="#{new.vehicle.isNew}"></label>
                                <select class="form-select" th:field="*{isNew}" required>
                                    <option selected value="" th:text="#{select.option.default}"></option>
                                    <option value=1>Nuevo</option>
                                    <option value=0>Usado</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right mt-4">
                            <button type="submit" data-toggle="tooltip" class="btn btn-success btn-block-xs m-r-10 m-b-5" aria-label="Añadir">
                                <span class="fa fa-floppy-o" aria-hidden="true"></span>
                                <span th:text="#{button.save}"></span>
                            </button>
                            <a id="buttonBack" th:href="@{/vehicles/newVehicle/list}" data-toggle="tooltip" class="btn btn-primary m-b-5">
                                <span class="fa fa-arrow-left"></span>
                                <span th:text="#{button.back}"></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>
</main>

</body>
<script src="/js/languageSelector.js" th:src="@{/js/languageSelector.js}"></script>
<script src="/js/asideMenu.js" th:src="@{/js/asideMenu.js}"></script>
<script src="/js/dataTable.js" th:src="@{/js/dataTable.js}"></script>
</html>